/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: "montserrat".
    sans-serif
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

header {
    height: 100px;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.banner {
    height: 600px;
    margin-top: 60px;
}

.content {
    padding-bottom: 2em;
}

.content-1 {
    height: 80px;
}

.float {
    float: left;
    height: 300px;
}

.col-side {
    width: 25%;
}

.col-center {
    width: 46%;
    margin: 0 2%;
}

footer {
    height: 50px;
    background-color: blueviolet;
} 

/*secondo esercizio*/

#logo {
    height: 90px;
    border-right: 1px solid gray;
    padding-right: 1em;
    padding-left: 2px;
}

.list li{
    padding-right: .5em;
    display: inline-block;
    color: gray;
    margin-top: 1em;
}

.list a {
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
}


.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: solid 3px gray;
}

.banner-text {
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 27%;
    left: 17%;
    right: 20%;
    text-align: left;
}

.content-1 {
    font-size: 40px;
    left: 17%;

}

 .float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: solid 3px gray;
 }   

