/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

header {
    height: 100px;
    background-color: violet;
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.banner {
    height: 400px;
    background-color: orange;
}

.content {
    padding-bottom: 2em;
    background-color: blue;
}

.content-1 {
    height: 80px;
    background-color: aqua;
}

.float {
    float: left;
    height: 300px;
    background-color: aqua;
}

.col-side {
    width: 25%;
}

.col-center {
    width: 46%;
    margin: 0 2%;
}

footer {
    height: 50px;
    background-color: blueviolet;
} 
